[submodule "modules/AutoEncoder"]
	path = modules/AutoEncoder
	url = git@github.com:SolidusAbi/AutoEncoder.git
[submodule "modules/IPDL"]
	path = modules/IPDL
	url = git@github.com:SolidusAbi/IPDL.git
[submodule "modules/Sparse"]
	path = modules/Sparse
	url = https://github.com/SolidusAbi/Sparse.git
